    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        overflow: hidden;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    @font-face {
        font-family: Panic;
        src: url('Ghastly Panic.ttf');
    }

    #Warning {
        font-size: 72px; 
        color: rgba(150, 11, 11, 0.568); 
        z-index: 3; 
        font-family: Panic; 
        position: absolute; 
        left: 50%;
        top: 20%;
        transform: translate(-50%, -20%);
    }

    #DamageNotif {
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }

    #GhostBar {
        border: 1px solid black;
        width: 200px;
        height: 50px;
        transition: all 1.5s linear;
        position: relative;
        z-index: 5;
    }

    #GhostBar.fullscreen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        border: none;
        z-index: 10;
    }

    #darkness {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(
            circle 100px at center,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.99) 80%
        );
        z-index: 3;
    }

    #Container {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-basis: 3;
        width: 1400px;
        height: 600px;
        gap: 10px;
        zoom: 80%;
        z-index: 4;
    }

    #fight {
        width: 700px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 1px solid black;
        background-color: white;
    }

    #Enemy_healtbar, #Player_healtbar {
        width: 200px;
        height: 20px;
        border: 1px solid black;
        background: #90ee90;
        text-align: center;
        margin-bottom: 20px;
    }
    
    #Player, #enemy {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 300px;
        gap: 20px;
        border: 1px solid black;
        background-color: white;
    }

    #Player {
        align-self: flex-end;
    }

    #enemy {
        align-self: flex-start;
    }

    #YourLVL {
        background-image: url('');
    }

    #outside {
        position: relative;
        width: 1200px;
        height: 700px;
        border: 1px solid black;
    }

    #PlayerOutside, .Wall, #trigger {
        position: absolute;
        width: 100px;
        height: 100px;
        z-index: 2;
    }

    #PlayerOutside {
        background: url('Player.png');
        background-size: 600px 1000px;
        background-repeat: no-repeat;
        background-position: 0 -100px;
        image-rendering: pixelated;
    }

    #bridge {
        position: absolute;
        background: url('bridge.png'); 
        background-size: contain; 
        height: 20%; 
        width: 100%; 
        top: 60%; 
        image-rendering: pixelated;
    }

    #trigger {
        left: 70%;
    }

    #jumpscare {
        display: none;
        position: absolute; 
        image-rendering: pixelated; 
        z-index: 4;   
    }

    #playerIMG {
        margin-left: 100px; 
        align-self: flex-start; 
        width: 200px; 
        height: 200px; 
        background: url('Player.png');
        background-size: 1200px 2000px;
        background-repeat: no-repeat;
        background-position: 0 -400px;
        image-rendering: pixelated;
    }