    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        overflow: hidden;
    }
    #DamageNotif {
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }

    #GhostBar {
        border: 1px solid black;
        width: 200px;
        height: 50px;
        transition: all 1.5s linear;
        position: relative;
        z-index: 2;
    }

    #Container {
        display: none;
        align-items: center;
        justify-content: center;
        width: 1400px;
        height: 600px;
        gap: 10px;
        zoom: 80%;
    }

    #fight {
        width: 700px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 1px solid black;
    }

    #Enemy_healtbar, #Player_healtbar {
        width: 200px;
        height: 20px;
        border: 1px solid black;
        background: #90ee90;
        text-align: center;
        margin-bottom: 20px;
    }
    
    #Player, #enemy {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 300px;
        gap: 20px;
        border: 1px solid black;
    }

    #Player {
        align-self: flex-end;
    }

    #enemy {
        align-self: flex-start;
    }

    #YourLVL {
        background-image: url('');
    }

    #outside {
        position: relative;
        width: 1200px;
        height: 700px;
        border: 1px solid black;
    }

    #PlayerOutside, .Wall {
        position: absolute;
        width: 100px;
        height: 100px;
        border: 1px solid black;
    }